html {
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}
body {
  background-image:linear-gradient(rgba(25, 97, 149, 0.845), rgba(0, 2, 128, 0.681)),url(../img/img1.webp); 
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat; 
  min-height: 100vh;    
  background-attachment: fixed;       
}


card.btn{
    padding: 5px 10px;
}
/* Botones centrados */
